# credentials to access the commercetools
VITE_COMMERCETOOLS_PROJECT_KEY="rss-bug-bust-ecomm"
VITE_COMMERCETOOLS_CLIENT_ID="KITkZYWvOR0PPSpGI7XVAuDd"
VITE_COMMERCETOOLS_SECRET="LsSfsa-oC9rMdFuvGVyJZ5m5a0GNIqCB"
VITE_COMMERCETOOLS_SCOPE="view_published_products:rss-bug-bust-ecomm manage_my_quote_requests:rss-bug-bust-ecomm manage_my_profile:rss-bug-bust-ecomm manage_my_quotes:rss-bug-bust-ecomm create_anonymous_token:rss-bug-bust-ecomm manage_my_orders:rss-bug-bust-ecomm view_categories:rss-bug-bust-ecomm manage_my_shopping_lists:rss-bug-bust-ecomm manage_my_business_units:rss-bug-bust-ecomm manage_my_payments:rss-bug-bust-ecomm"
VITE_COMMERCETOOLS_API_URL="https://api.eu-central-1.aws.commercetools.com"
VITE_COMMERCETOOLS_AUTH_URL="https://auth.eu-central-1.aws.commercetools.com"
VITE_COMMERCETOOLS_USE_LOGGER=0# 0 | 1
